:root {
  --green: rgb(39, 189, 39);
  --orange: rgb(255, 165, 0);
}

body {
  font-family: "Playfair Display", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
